.Weapons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: none;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.Weapons .container-left {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.Weapons .container-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.Weapons .glove-container {
  width: 100%;
  display: flex;
}

.Weapons .container-left .glove-container {
  justify-content: flex-start;
}

.Weapons .container-left .glove-container.active {
  justify-content: flex-end;
}

.Weapons .container-right .glove-container {
  justify-content: flex-end;
}
.Weapons .container-right .glove-container.active {
  justify-content: flex-start;
}

.mal .Weapons img {
  width: auto;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .mal .Weapons img {
    width: 80px;
    height: auto;
    margin-bottom: 150px;
  }
}

.glove-left {
  display: none;
}

.glove-right {
  display: none;
  transform: scaleX(-1);
}

.glove-left.active,
.glove-right.active {
  display: block;
}

.mal .Weapons .glove-container.active img{
  width: 80px;
}
@media (max-width: 768px) {
  .mal .Weapons .glove-container.active img{
    width: 60px;
  }
}
