.Counter {
  background: #fdd846;
}
@media(max-width: 768px){
  .Counter {
    height: 30vh;
  }
}

.Counter .punches{
  margin: 0;
}

.Counter .level{
  margin: 0;
}
.Counter h1.level{
  font-size: 3rem;
  color: red;
  font-weight: bold;
}
