.Game {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #EFEFEF;
  position: relative;
}

.Game .title {
  color: black;
  margin-bottom: auto;
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  display: flex;
  flex: 1 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.mal {
  position: relative;
  display: flex;
  max-width: 841px;
  height: 580px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.mal img {
  width: 100%;
  max-height: 540px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .mal img {
    width: auto;
    height: 100%;
    max-height: 400px;
  }
}

.mal img.is-hidden {
  display: none;
}

.counter {
  background: forestgreen;
  width: 100%;
  color: white;
}
