.Game {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #efefef;
  position: relative;
}

.Game .title {
  color: black;
  margin-bottom: auto;
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  display: flex;
  flex: 1 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.mal {
  position: relative;
  display: flex;
  max-width: 841px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.counter {
  background: forestgreen;
  width: 100%;
  color: white;
}
